
.imgFlowFree{
    width: 45%;
    align-content: center;
}
.navclass{
    padding-right: 30px;
    padding-top: 5px;
    
    padding-left: 80px;
}
.linkav{
background-color: #B7D408;
color: azure;
width: 150px;
}
